.static-container {
  margin: 0 auto;
  // height: 100%;
  width: 100vw;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;;
  .static-side-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    z-index: 10;
  }
}
